body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/background1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-div{
    float: right;
    width: 20%;
    /* background-color: rgb(167, 163, 163); */
    /* margin: 5% 0% 0% 35%; */
    text-align: center;
    color: rgb(156, 12, 12);
    /* border-radius: 20%; */
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.title-div h1{
    border: 3px solid black;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.parent-div{
    float: left;
    width: 100%;
    margin: 5% 0% 0% 0%;
}

.child-div{
    float: left;
    width: 22%;
    background-color: transparent;
    color: aliceblue;
    margin: 0% 0% 7% 2%;
    padding: 7% 0% 7% 0%;
    text-align: center;
    font-size: 28px;
    border: 6px solid aliceblue;

}

.bottom-div{
    float: left;
    width: 85%;
    margin: 5% 0% 0% 5%;
    border: 4px solid black;
    text-align: center;
    font-size: 22px;
}
.img-div{
    float: left;
    width: 100%;
}

img{
    float: left;
    width: 23%;
    height: 500px;
    margin: 10% 0% 6% 1%;
    border: 6px solid black;
}